<h2>Contents</h2>
<%= for category <- @categories do %>
	<li>
		<a href="#<%= category.link %>"><%= category.title %></a>
	</li>
<% end %>

<%= for category <- @categories do %>
	<h2><a name="<%= category.link %>"></a><%= category.title %></h2>
	<p><%= category.description %></p>
	<ul>
		<%= for pack <- @all_packs do %>
			<%= if pack.heading == category.title do %>
				<%= if pack.lastupdate > 365 do %>
				<li class="outdated">
				<% else %>
				<li>
				<% end %>
					<%= if FunboxQtElixir.AwesomeParse.division_description?(pack.description) do %>
						<% {:description, begin_str, link, name, end_str} = FunboxQtElixir.AwesomeParse.division_description(pack.description) %>
							<%= if FunboxQtElixir.AwesomeParse.division_description?(begin_str) do %>
								<% {:description, begin_str2, link2, name2, end_str2} = FunboxQtElixir.AwesomeParse.division_description(begin_str) %>
								<a href="<%= pack.link %>" target="_blank"><%= pack.name %></a> ⭐<sub><%= pack.stars %></sub> 📅<sub><%= pack.lastupdate %></sub> — <span><%= begin_str2 %><a href="<%= link2 %>" target="_blank"><%= name2 %></a><%= end_str2 %> <a href="<%= link %>" target="_blank"><%= name %></a><%= end_str %></span>
							<% else %>
								<a href="<%= pack.link %>" target="_blank"><%= pack.name %></a> ⭐<sub><%= pack.stars %></sub> 📅<sub><%= pack.lastupdate %></sub> — <span><%= begin_str %><a href="<%= link %>" target="_blank"><%= name %></a><%= end_str %></span>
							<% end %>
					<% else %>
						<a href="<%= pack.link %>" target="_blank"><%= pack.name %></a> ⭐<sub><%= pack.stars %></sub> 📅<sub><%= pack.lastupdate %></sub> — <span><%= pack.description %></span>
					<% end %>
				</li>
			<% end %>
		<% end %>
	</ul>
<% end %>
